.board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    background-color: #333;
    width: fit-content;
}

.cell {
    width: 200px;
    height: 200px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    cursor: pointer;
    border: 1px solid #eee;
}

.cell__empty {
    background-color: #eee;
    cursor: default;
}

.cell__filled {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}